.rn_ModerationFilterDialog{display: inline-block;}
.rn_ModerationFilterDialog a.rn_SelectFilterLink{font-weight: bold;text-decoration: none;border-bottom: 1px dotted #3B6DB1;}
.rn_ModerationFilterDialog a.rn_SelectFilterLink:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0b0";color: #3B6DB1;}
.rn_ModerationFilterDialog a.rn_SelectFilterLink:hover{border-bottom: 1px solid #3B6DB1;}
.rn_ModerationFilterDialog .rn_Dialog{float: left;display: block;margin-right: 2.35765%;width: 82.94039%;}
.rn_ModerationFilterDialog .rn_Dialog:last-child{margin-right: 0;}
.rn_ModerationFilterDialog .rn_Dialog .rn_DialogContent{*zoom: 1;}
.rn_ModerationFilterDialog .rn_Dialog .rn_DialogContent:before, .rn_ModerationFilterDialog .rn_Dialog .rn_DialogContent:after{content: " ";display: table;}
.rn_ModerationFilterDialog .rn_Dialog .rn_DialogContent:after{clear: both;}
.rn_ModerationFilterDialog .rn_Dialog .rn_SocialFilter{float: left;display: block;margin-right: 2.35765%;width: 100%;}
.rn_ModerationFilterDialog .rn_Dialog .rn_SocialFilter:last-child{margin-right: 0;}
.rn_ModerationFilterDialog .rn_Dialog .rn_SocialFilter .rn_SocialDialogFilterItem{float: left;display: block;margin-right: 2.35765%;width: 31.76157%;margin-bottom: 1em;}
.rn_ModerationFilterDialog .rn_Dialog .rn_SocialFilter .rn_SocialDialogFilterItem:last-child{margin-right: 0;}
@media screen and (max-width: 720px){.rn_ModerationFilterDialog .rn_Dialog .rn_SocialFilter .rn_SocialDialogFilterItem{width: 100%;}
}
.rn_ModerationFilterDialog .rn_Dialog .rn_SocialFilter .rn_SocialDialogFilterItem:nth-child(3n){margin-right: 0;}
.rn_ModerationFilterDialog .rn_Dialog .rn_SocialFilter .rn_SocialDialogFilterItem:nth-child(3n+1){clear: both;}
.rn_ModerationFilterDialog .rn_Dialog .rn_ProductCategorySearchFilter{width: 100%;margin-left: 0;vertical-align: top;border: 1px solid #cecece;background: #f4f4f4;}
.rn_ModerationFilterDialog .rn_Dialog .rn_ProductCategorySearchFilter button.rn_DisplayButton{margin: 11px 4px;width: 97%;}
.rn_ModerationFilterDialog .rn_Dialog .rn_ProductCategorySearchFilter .rn_Label{font-size: 1.1em;background-color: #cecece;border-bottom: 1px solid #CCC;padding: 2px;}
.rn_ModerationFilterDialog .rn_ErrorMessage a{font-weight: bold;}
.rn_ModerationFilterBreadcrumbs{padding: 16px 6px 0;background-color: #f4f4f4;margin-bottom: 2px;clear: left;}
.rn_ModerationFilterBreadcrumbs .rn_Heading{color: #404040;font-size: 1em;font-weight: bold;}
.rn_ModerationFilterBreadcrumbs .rn_Filter{*zoom: 1;padding: 0;}
.rn_ModerationFilterBreadcrumbs .rn_Filter:before, .rn_ModerationFilterBreadcrumbs .rn_Filter:after{content: " ";display: table;}
.rn_ModerationFilterBreadcrumbs .rn_Filter:after{clear: both;}
.rn_ModerationFilterBreadcrumbs .rn_Label{color: #505050;font-size: 0.917em;font-weight: bold;margin-bottom: 4px;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P{display: inline-block;vertical-align: baseline;zoom: 1;*display: inline;*vertical-align: auto;background-color: white;border: 1px solid #999;border-width: 0;color: #999;line-height: 1.8em;font-size: 0.8em;padding: 0 0.45em 0 1.55em;position: relative;text-decoration: none;margin: 0 -1px 4px -0.27em;display: inline-block;border-width: 1px;color: #333;}
@media screen and (min-width: 40em){.rn_ModerationFilterBreadcrumbs .rn_FilterItem, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P{font-size: 1em;padding: 0 0.9em 0 1.55em;}
}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem:first-child, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:first-child{padding-left: 0;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem:last-child, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:last-child{background-color: white;color: #999;padding-right: 0.9em;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem:first-child, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:first-child{margin-right: 0;padding-left: 21px;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem:last-child, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:last-child{color: #333;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:after, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:before{position: absolute;right: auto;left: 100%;top: 0;bottom: 0;border-bottom: 0.9em solid transparent;border-left: 0.45em solid transparent;border-top: 0.9em solid transparent;content: '';display: block;margin: auto;z-index: 2;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:before{border-left-color: #999;margin-left: 1px;z-index: 1;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:after{border-left-color: white;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:last-child:after, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:last-child:before{border: 0;border-left-color: #DDD;border-right-color: #DDD;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:first-child:after, .rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:first-child:before{border: 0;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:last-child{background: #DDD;color: #333;}
.rn_ModerationFilterBreadcrumbs .rn_FilterItem_P:nth-child(2){background: #FFF;}
.rn_ModerationFilterBreadcrumbs .rn_Selected{background-color: #cecece;color: #000;font-weight: bold;}
.rn_ModerationFilterBreadcrumbs .rn_Selected a{cursor: pointer;text-decoration: none;font-weight: normal;}
.rn_ModerationFilterBreadcrumbs .rn_Selected a:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f057";color: #477DCA;}
.rn_ModerationFilterBreadcrumbs .rn_Selected:hover{border: 1px solid #477DCA;}
.rn_ResultInfo{overflow:hidden;width:100%;}
.rn_ResultInfo .rn_Suggestion, .rn_ResultInfo .rn_Spell{float:left;}
.rn_ResultInfo .rn_NoResults{clear:both;}
.rn_ResultInfo .rn_NoResults ul{padding-left:2em;}
.rn_ResultInfo .rn_NoResults ul li{list-style:disc;margin:4px;}
.rn_ResultInfo .rn_Results .rn_Strike{font-weight: normal;text-decoration: line-through;}
.rn_ResultInfo{overflow: hidden;padding-bottom: 6px;}
.rn_ResultInfo .rn_Results{float: right;}
.rn_ResultInfo .rn_Results span{font-weight: bold;}
.rn_ResultInfo .rn_Spell{color: #F00;font-size: medium;margin: 10px 0 20px;}
.rn_ResultInfo .rn_Spell a{color: #039;font-style: italic;font-weight: bold;}
.rn_ResultInfo .rn_NoResults{background-color: #F2F2F2;border: 1px solid #A1A5A9;padding: 10px;}
.rn_ResultInfo .rn_Suggestion{color: #222;font-style: italic;padding: 10px 0;}
.rn_ResultInfo .rn_Suggestion a{font-style: normal;}
.rn_Grid{overflow-x:auto;overflow-y:hidden;*padding-bottom:10px;}
.rn_Grid .yui3-datatable-table{border:1px solid #888;border-spacing: 0;border-collapse: separate;}
.rn_Grid .yui3-datatable-table th, .rn_Grid .yui3-datatable-table td{padding:4px 10px 4px 6px;}
.rn_Grid .yui3-datatable-table th, .rn_Grid .yui3-datatable-table th a, .rn_Grid .yui3-datatable-table th a:hover{color:#000;font-weight:normal;text-decoration:none;vertical-align:bottom;}
.rn_Grid .yui3-datatable-sortable-column{cursor:pointer;}
.rn_Grid .yui3-datatable-sort-liner{position: relative;}
.rn_Grid .yui3-datatable-sort-indicator{padding-left: 8px;}
.rn_Grid .yui3-datatable-sort-indicator:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0dc";}
.rn_Grid .yui3-datatable-sorted .yui3-datatable-sort-indicator:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0de";}
.rn_Grid .yui3-datatable-sorted-desc .yui3-datatable-sort-indicator:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0dd";}
.rn_Grid .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_Grid .yui3-datatable-table td{word-break: break-all;}
.rn_Grid .yui3-datatable-table td span{display: inline-block;}
.rn_ModerationGrid .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_ModerationGrid table{table-layout: auto;}
.rn_ModerationGrid table th.yui3-datatable-header{vertical-align: middle;}
.rn_ModerationGrid table th.yui3-datatable-header div{padding-right: 4px;white-space: nowrap;}
.rn_ModerationGrid table th.rn_HideText{text-indent: -9999px;}
.rn_ModerationGrid.rn_SocialQuestion table th.rn_GridColumn_4:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f024";color: #F00;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialQuestion table th.rn_GridColumn_4 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialQuestion table th div{display: inline;}
.rn_ModerationGrid.rn_SocialComment table th{white-space: nowrap;}
.rn_ModerationGrid.rn_SocialComment table th.rn_GridColumn_5:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f024";color: #F00;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialComment table th.rn_GridColumn_5 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialComment table th div{display: inline;}
.rn_ModerationGrid.rn_SocialComment table td p{margin: 0;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_6{position: relative;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_6:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0f6";color: #3B6DB1;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_6 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_7{position: relative;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_7:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f075";color: #3B6DB1;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_7 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_8{position: relative;position: relative;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_8:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0f6";color: #3B6DB1;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_8:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f05e";color: #F00;margin-left: 0;position: absolute;left: 0.4em;top: 40%;font-size: 0.8em;line-height: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_8 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_9{position: relative;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_9:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f075";color: #3B6DB1;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_9:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f05e";color: #F00;margin-left: 0;position: absolute;left: 0.4em;top: 40%;font-size: 0.8em;line-height: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_9 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_10{position: relative;position: relative;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_10:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0f6";color: #3B6DB1;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_10:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f024";color: #F00;margin-left: 0;position: absolute;left: 0.4em;top: 40%;font-size: 0.8em;line-height: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_10 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_11{position: relative;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_11:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f075";color: #3B6DB1;left: 0;font-size: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_11:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f024";color: #F00;margin-left: 0;position: absolute;left: 0.4em;top: 40%;font-size: 0.8em;line-height: 1.2em;}
.rn_ModerationGrid.rn_SocialUser table th.rn_GridColumn_11 .yui3-datatable-sort-indicator{padding-left: 2px;}
.rn_ModerationGrid.rn_SocialUser table th div{display: inline;}
.rn_Paginator{margin-top: 10px;text-align: right;}
.rn_Paginator ul{*zoom: 1;}
.rn_Paginator ul:before, .rn_Paginator ul:after{content: " ";display: table;}
.rn_Paginator ul:after{clear: both;}
.rn_Paginator li{border: 0;display: inline-block;list-style-type: none;padding: 0 0.2em;margin-right: 4px;}
.rn_Paginator a{font-weight: normal;text-decoration: none;}
.rn_Paginator .rn_CurrentPage{color: #3B6DB1;cursor: default;font-weight: bold;}
.rn_Paginator .rn_NextPage, .rn_Paginator .rn_PreviousPage{color: #3B6DB1;font-size: 0.8em;cursor: pointer;}
.rn_Paginator .rn_NextPage span, .rn_Paginator .rn_PreviousPage span{font-size: 1.2em;}
.rn_Paginator .rn_NextPage:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f054";}
.rn_Paginator .rn_PreviousPage:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f053";}
.rn_MoveDialogContainer{float: left;display: block;margin-right: 2.35765%;width: 40.29137%;}
.rn_MoveDialogContainer:last-child{margin-right: 0;}
@media screen and (max-width: 720px){.rn_MoveDialogContainer{float: left;display: block;margin-right: 2.35765%;width: 65.88078%;}
.rn_MoveDialogContainer:last-child{margin-right: 0;}
}
@media screen and (max-width: 400px){.rn_MoveDialogContainer{float: left;display: block;margin-right: 2.35765%;width: 82.94039%;}
.rn_MoveDialogContainer:last-child{margin-right: 0;}
}
.rn_MoveDialogContainer .rn_ProductCategoryInput button.rn_DisplayButton{min-width: 11em;}
.rn_MoveDialogContainer .rn_ProductCategoryInput .rn_Label{width: 100%;}
.rn_MoveDialogContainer .rn_SelectionWidget{margin-bottom: 1.75em;}
.rn_ModerationAction button{margin-bottom: 1em;display: inline-block;}
.rn_ModerationDateFilter li{padding-left: 5px;}
.rn_ModerationDateFilter input{vertical-align: middle;}
.rn_ModerationDateFilter input::-webkit-input-placeholder{color: #4c4c4c;opacity: 1;}
.rn_ModerationDateFilter input:-moz-placeholder{color: #4c4c4c;opacity: 1;}
.rn_ModerationDateFilter input::-moz-placeholder{color: #4c4c4c;opacity: 1;}
.rn_ModerationDateFilter input:-ms-input-placeholder{color: #4c4c4c;opacity: 1;}
.rn_ModerationDateFilter label{display: inline-block;vertical-align: baseline;zoom: 1;*display: inline;*vertical-align: auto;width: 80%;vertical-align: top;font-weight: normal;}
.rn_ModerationDateFilter button.rn_CalButton{color: #333;background: none;border: 0;box-shadow: none;font-size: large;padding: 0;text-shadow: none;}
.rn_ModerationDateFilter button.rn_CalButton:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f073";margin: 3px;}
.rn_ModerationDateFilter button.rn_CalButton:hover, .rn_ModerationDateFilter button.rn_CalButton:focus{border: 0;box-shadow: none;background: none;}
.rn_ModerationDateFilter .rn_DateInput{width: 45%;display: inline-block;clear: both;position: static;}
.rn_ModerationDateFilter .rn_DateRangeContainer{float: right;display: block;margin-right: -28px;width: 100%;}
.rn_ModerationDateFilter .rn_DatePopupContainer{overflow: auto;position: absolute;width: 30%;}
.rn_ModerationDateFilter .rn_Show{display: inline;}
.rn_ModerationStatusFilter li{padding-left: 5px;}
.rn_ModerationStatusFilter input{vertical-align: middle;}
.rn_ModerationStatusFilter label{display: inline-block;vertical-align: baseline;zoom: 1;*display: inline;*vertical-align: auto;width: 80%;vertical-align: top;font-weight: normal;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton{color:#000;cursor:pointer;font-weight:normal;overflow:hidden;text-overflow:ellipsis;border-radius:0;box-shadow:none;z-index:0 !important;}
.rn_ProductCategorySearchFilter .ygtvlabel, .rn_ProductCategorySearchFilter .ygtvlabel:link, .rn_ProductCategorySearchFilter .ygtvlabel:visited, .rn_ProductCategorySearchFilter .ygtvlabel:hover{font-size:inherit;}
.rn_ProductCategorySearchFilter .rn_PanelContainer .yui3-widget-hd{display: none;}
.rn_ProductCategorySearchFilter{float: left;display: block;margin-right: 2.35765%;width: 31.76157%;text-shadow: none;}
.rn_ProductCategorySearchFilter:last-child{margin-right: 0;}
@media screen and (max-width: 720px){.rn_ProductCategorySearchFilter{*zoom: 1;display: block;margin-left: 17.05961%;float: left;display: block;margin-right: 2.35765%;width: 65.88078%;margin-bottom: 1em;}
.rn_ProductCategorySearchFilter:before, .rn_ProductCategorySearchFilter:after{content: " ";display: table;}
.rn_ProductCategorySearchFilter:after{clear: both;}
.rn_ProductCategorySearchFilter:last-child{margin-right: 0;}
}
@media screen and (max-width: 400px){.rn_ProductCategorySearchFilter{*zoom: 1;display: block;margin-left: 0%;float: left;display: block;margin-right: 2.35765%;width: 100%;}
.rn_ProductCategorySearchFilter:before, .rn_ProductCategorySearchFilter:after{content: " ";display: table;}
.rn_ProductCategorySearchFilter:after{clear: both;}
.rn_ProductCategorySearchFilter:last-child{margin-right: 0;}
}
.rn_ProductCategorySearchFilter button.rn_DisplayButton{width: 100%;background: #FFF;border: 1px solid #999;font-weight: normal;margin-top: auto;min-height: 1.5em;padding: 4px 20px 4px 4px;position: relative;text-align: left;text-shadow: none;margin-right: 0;border-radius: 0;box-shadow: none;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton:after{content: "\f0d7";position: absolute;right: 5px;font-size: 1em;}
.rn_ProductCategorySearchFilter button.rn_DisplayButton:hover, .rn_ProductCategorySearchFilter button.rn_DisplayButton:focus{box-shadow: none;background-color: #DDD;}
.rn_ProductCategorySearchFilter .rn_Panel{width: 100%;background: #FFF;border: 1px solid #999;max-height: 200px;overflow: auto;padding: 6px;}
.rn_ProductCategorySearchFilter .rn_PanelContainer{border: 1px solid #999;border-top: 0;width: 350px;}
@media screen and (max-width: 960px){.rn_ProductCategorySearchFilter .rn_PanelContainer{width: 300px;}
}
@media screen and (max-width: 400px){.rn_ProductCategorySearchFilter .rn_PanelContainer{width: 100%;}
}
.rn_ProductCategorySearchFilter .rn_PanelContainer .rn_Panel{border: 0;}
.rn_ProductCategorySearchFilter .rn_SelectionButtons{background: #DDD;border-top: 1px solid #999;}
.rn_ProductCategorySearchFilter .rn_SelectionButtons button{font-size: 0.95em;margin: 7px 0 7px 5px;padding: 5px;}
.rn_ProductCategorySearchFilter table{border-collapse: collapse;}
.rn_ProductCategorySearchFilter table td{padding: 0;border: 0;text-shadow: none;}
.rn_ProductCategorySearchFilter .rn_Label{width: 100%;display: block;font-weight: bold;margin-bottom: 2px;}
.rn_Dialog .rn_ProductCategoryLinks ol{padding-left: 1em;}
.rn_ModerationContentFlagFilter li{padding-left: 5px;}
.rn_ModerationContentFlagFilter input{vertical-align: middle;}
.rn_ModerationContentFlagFilter label{display: inline-block;vertical-align: baseline;zoom: 1;*display: inline;*vertical-align: auto;width: 80%;vertical-align: top;font-weight: normal;}
.rn_ProductCategoryInput button.rn_DisplayButton{display:inline;background:none;color:#000;cursor:pointer;overflow:hidden;text-overflow:ellipsis;}
.rn_ProductCategoryInput .ygtvlabel, .rn_ProductCategoryInput .ygtvlabel:link, .rn_ProductCategoryInput .ygtvlabel:visited, .rn_ProductCategoryInput .ygtvlabel:hover{font-size:inherit;}
.rn_ProductCategoryInput .rn_HintBox{z-index:1;}
.rn_ProductCategoryInput .rn_HintBox.rn_AlwaysVisibleHint{z-index:0;}
.rn_ProductCategoryInput .rn_PanelContainer .yui3-widget-hd{display: none;}
.rn_ProductCategoryInput{*zoom: 1;display: block;position: relative;margin-bottom: 8px;}
.rn_ProductCategoryInput:before, .rn_ProductCategoryInput:after{content: " ";display: table;}
.rn_ProductCategoryInput:after{clear: both;}
.rn_ProductCategoryInput .rn_Label{display: block;font-weight: bold;margin-bottom: 2px;width: 100%;}
.rn_ProductCategoryInput .rn_ErrorLabel{display: block;font-style: italic;font-weight: normal;}
.rn_ProductCategoryInput button.rn_DisplayButton{float: left;display: block;margin-right: 2.35765%;width: 100%;height: 47px;border: 1px solid #efefef;background-color: #efefef;font-weight: normal;margin-top: auto;margin-bottom: 1.6em;min-height: 1.5em;padding: 7px 20px 7px 20px;position: relative;text-align: left;text-shadow: none;margin-right: 0;border-radius: 0;box-shadow: none;}
.rn_ProductCategoryInput button.rn_DisplayButton:last-child{margin-right: 0;}
.rn_ProductCategoryInput button.rn_DisplayButton:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_ProductCategoryInput button.rn_DisplayButton:after{content: "\f0d7";position: absolute;right: 5px;}
.rn_ProductCategoryInput button.rn_DisplayButton:hover, .rn_ProductCategoryInput button.rn_DisplayButton:focus{box-shadow: none;background-color: none;}
.rn_ProductCategoryInput .rn_Panel{width: 100%;background: #FFF;border: 1px solid #999;max-height: 200px;overflow: auto;padding: 6px;}
.rn_ProductCategoryInput .rn_PanelContainer{width: 500px;border: 1px solid #999;}
@media screen and (max-width: 400px){.rn_ProductCategoryInput .rn_PanelContainer{width: 100%;}
}
.rn_ProductCategoryInput .rn_PanelContainer .rn_Panel{border: 0;}
.rn_ProductCategoryInput .rn_SelectionButtons{background: #DDD;border-top: 1px solid #999;}
.rn_ProductCategoryInput .rn_SelectionButtons button{font-size: 0.95em;margin: 7px 0 7px 5px;padding: 5px;}
.rn_ProductCategoryInput .ygtvchildren .ygtvfocus .ygtvlabel{outline-color: #C0E0E0;outline-style: solid;}
.rn_ProductCategoryInput .rn_HintBox{border: 1px solid #999;margin: 0 0 0 0.3em;max-width: 200px;padding: 4px 16px 2px;word-wrap: break-word;opacity: 0.9;}
.rn_ProductCategoryInput .rn_HintBox.rn_AlwaysVisibleHint{max-width: 200px;opacity: 1;}
.rn_ProductCategoryInput .rn_HintBox:before{font-family: 'FontAwesome';margin-right: 6px;}
.rn_ProductCategoryInput .rn_HintBox:before{content: "\f0d9";position: absolute;font-size: 1em;color: #FFF;left: -1px;top: 2px;z-index: 1;}
.rn_ProductCategoryInput .rn_HintBox:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_ProductCategoryInput .rn_HintBox:after{content: "\f0d9";position: absolute;font-size: 1.1em;color: #999;left: -7px;top: 2px;}
.rn_ProductCategoryInput .rn_Disabled{color: #808080 !important;}
.rn_ProductCategoryDisplay .rn_DataLabel{float: left;font-weight: bold;}
.rn_ProductCategoryDisplay .rn_DataValue{margin-left: 180px;}
.rn_ProductCategoryDisplay .rn_DataValue ul{clear: none;}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify{clear: left;margin-left: 0;padding-bottom: 0.5em;}
