.rn_PrintPageLink a:before {
 /* font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f02f"; */
  /* font-family: 'FontAwesome'; */
  margin-right: 6px;
  /* content: "\f14d"; */
  content: url('/euf/assets/themes/standard/images/answer_print.png'); }
.rn_PrintPageLink a {
	font-family: "DepotNew-Rg";
	font-size: 18px;
	color: #4e4e4e;
	font-weight: bold;
}
.rn_PrintPageLink a span {
	height: 30px;
    vertical-align: super;
}
