@import 'widget-includes';

.rn_TopAnswers .rn_Title {
    //font-size: 1.111em;
	font-size: 0	.899em;
}

.rn_TopAnswers li {
    margin-bottom: 12px;
}

.rn_TopAnswers ul {
    padding-top: 3px;
}

.rn_TopAnswers .rn_Title a {
    color: #333;
}