.rn_EmailAnswerLink > a:before {
  /* font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f0e0"; */
  /* font-family: 'FontAwesome'; */
  margin-right: 6px;
  /* content: "\f14d"; */
  content: url('/euf/assets/themes/standard/images/answer_email.png'); }
.rn_EmailAnswerLink a {
	font-family: "DepotNew-Rg";
	font-size: 18px;
	color: #4e4e4e;
	font-weight: bold;
}
.rn_EmailAnswerLink a span {
	height: 30px;
    vertical-align: super;
}
