.rn_AnswerNotificationManager{overflow:hidden;}
.rn_AnswerNotificationManager .rn_Notification{overflow:auto;*overflow:none;padding:8px 0;width:80%;}
.rn_AnswerNotificationManager .rn_Notification_Actions{float:right;width:34%;}
.rn_AnswerNotificationManager .rn_Notification_Info{float:left;overflow:hidden;width:62%;}
.rn_AnswerNotificationManager .rn_Notification_Info span{display:block;}
.rn_AnswerNotificationManager{background: #F2FAFD;border: 1px solid #DDD;margin: 10px 0 20px;padding: 10px 4px 8px;}
.rn_AnswerNotificationManager .rn_Notification{margin: 0 auto;}
.rn_AnswerNotificationManager .rn_Notification_Info{border-bottom: 1px solid #DDD;color: #6F6F6F;padding: 0 4px 10px 0;}
.rn_AnswerNotificationManager .rn_Notification_Actions button{float: left;margin-top: 4px;margin-right: 8px;}
.rn_ProdCatNotificationManager{overflow:hidden;}
.rn_ProdCatNotificationManager .rn_Notification{overflow:auto;*overflow:none;padding:8px 0;width:80%;}
.rn_ProdCatNotificationManager .rn_Notification_Actions{float:right;width:34%;}
.rn_ProdCatNotificationManager .rn_Notification_Info{float:left;overflow:hidden;width:62%;}
.rn_ProdCatNotificationManager .rn_Notification_Info span{display:block;}
.rn_ProdCatNotificationManager{background: #F2FAFD;border: 1px solid #DDD;margin: 10px 0 20px;padding: 10px 4px 8px;}
.rn_ProdCatNotificationManager .rn_Loading:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f110";-webkit-animation: fa-spin 2s infinite linear;-moz-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;display: block;font-size: 2.5em;position: relative;text-align: center;}
.rn_ProdCatNotificationManager .rn_Notification{margin: 0 auto;}
.rn_ProdCatNotificationManager .rn_Notification_Info{border-bottom: 1px solid #DDD;color: #6F6F6F;padding: 0 4px 10px 0;}
.rn_ProdCatNotificationManager .rn_Notification_Actions button{float: left;margin-top: 4px;margin-right: 8px;}
.rn_ProdCatNotificationManager .rn_ButtonGroup{text-align: center;}
.rn_ProdCatNotificationManager .rn_AddButton{display: inline-block;margin: 10px auto;}
.rn_ProdCatNotificationManager_Dialog{width: 335px;}
.rn_ProdCatNotificationManager_Dialog .rn_SelectionWidget{float: left;margin: 0 4px;width: 97%;}
.rn_ProdCatNotificationManager_Dialog .rn_SelectionWidget button.rn_DisplayButton{margin: 5px 0;min-width: 0;width: 100%;}
.rn_ResultInfo{overflow:hidden;width:100%;}
.rn_ResultInfo .rn_Suggestion, .rn_ResultInfo .rn_Spell{float:left;}
.rn_ResultInfo .rn_NoResults{clear:both;}
.rn_ResultInfo .rn_NoResults ul{padding-left:2em;}
.rn_ResultInfo .rn_NoResults ul li{list-style:disc;margin:4px;}
.rn_ResultInfo .rn_Results .rn_Strike{font-weight: normal;text-decoration: line-through;}
.rn_ResultInfo{overflow: hidden;padding-bottom: 6px;}
.rn_ResultInfo .rn_Results{float: right;}
.rn_ResultInfo .rn_Results span{font-weight: bold;}
.rn_ResultInfo .rn_Spell{color: #F00;font-size: medium;margin: 10px 0 20px;}
.rn_ResultInfo .rn_Spell a{color: #039;font-style: italic;font-weight: bold;}
.rn_ResultInfo .rn_NoResults{background-color: #F2F2F2;border: 1px solid #A1A5A9;padding: 10px;}
.rn_ResultInfo .rn_Suggestion{color: #222;font-style: italic;padding: 10px 0;}
.rn_ResultInfo .rn_Suggestion a{font-style: normal;}
.rn_Multiline{overflow: hidden;}
.rn_Multiline .rn_Loading{font-size: 2.5em;line-height: 2em;text-align: center;}
.rn_Multiline .rn_Element1, .rn_Multiline .rn_Element1 h3 a{font-size: 25px;font-family: "DepotNew-Bd";}
.rn_Multiline .rn_Element2{font-size: 1.333em;display:none;}
.rn_Multiline .rn_Element3{display: block;font-size: 18px;font-family: "DepotNew-Bd";line-height: 1.3em;color: #4e4e4e;}
.rn_Multiline .rn_ElementsHeader, .rn_Multiline .rn_ElementsData{color: #4e4e4e;font-size: 18px;}
.rn_Multiline .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_Multiline ol, .rn_Multiline ul{padding-top: 0.3em;}
.rn_Multiline ol li, .rn_Multiline ul li{margin-bottom: 1em;}
.rn_DiscussionSubscriptionManager .rn_Content{background: #F2FAFD;border: solid #DDD;border-width: 1px 1px 0;margin: 10px 0 0;padding: 10px 4px 0;}
.rn_DiscussionSubscriptionManager .rn_Bottom{background: #F2FAFD;border: solid #DDD;border-width: 0 1px 1px;margin: 0 0 20px;padding: 0 4px 8px;}
.rn_DiscussionSubscriptionManager .rn_Discussions{margin: 0 auto;overflow: auto;padding: 8px 0;width: 80%;}
.rn_DiscussionSubscriptionManager .rn_Discussions .rn_Element1{font-size: inherit;display: block;}
.rn_DiscussionSubscriptionManager .rn_Discussions .rn_Discussion_Info{border-bottom: 1px solid #DDD;padding: 0 4px 10px 0;float: left;overflow: hidden;width: 62%;}
.rn_DiscussionSubscriptionManager .rn_Discussions .rn_ElementsHeader, .rn_DiscussionSubscriptionManager .rn_Discussions .rn_ElementsData{font-size: inherit;}
.rn_DiscussionSubscriptionManager .rn_Discussion_Actions{float: right;width: 34%;}
.rn_DiscussionSubscriptionManager .rn_ButtonGroup{text-align: center;}
.rn_DiscussionSubscriptionManager .rn_ButtonGroup .rn_AddButton{display: inline-block;margin: 10px auto;}
.rn_DiscussionSubscriptionManager_Dialog .rn_SelectionWidget{float: left;margin: 0 4px;width: 97%;}
.rn_DiscussionSubscriptionManager_Dialog .rn_SelectionWidget button.rn_DisplayButton{margin: 5px 0;min-width: 0;width: 100%;}
.rn_ProductCategoryInput button.rn_DisplayButton{display:inline;background:none;color:#000;cursor:pointer;overflow:hidden;text-overflow:ellipsis;}
.rn_ProductCategoryInput .ygtvlabel, .rn_ProductCategoryInput .ygtvlabel:link, .rn_ProductCategoryInput .ygtvlabel:visited, .rn_ProductCategoryInput .ygtvlabel:hover{font-size:inherit;}
.rn_ProductCategoryInput .rn_HintBox{z-index:1;}
.rn_ProductCategoryInput .rn_HintBox.rn_AlwaysVisibleHint{z-index:0;}
.rn_ProductCategoryInput .rn_PanelContainer .yui3-widget-hd{display: none;}
.rn_ProductCategoryInput{*zoom: 1;display: block;position: relative;margin-bottom: 8px;}
.rn_ProductCategoryInput:before, .rn_ProductCategoryInput:after{content: " ";display: table;}
.rn_ProductCategoryInput:after{clear: both;}
.rn_ProductCategoryInput .rn_Label{display: block;font-weight: bold;margin-bottom: 2px;width: 100%;}
.rn_ProductCategoryInput .rn_ErrorLabel{display: block;font-style: italic;font-weight: normal;}
.rn_ProductCategoryInput button.rn_DisplayButton{float: left;display: block;margin-right: 2.35765%;width: 100%;height: 47px;border: 1px solid #efefef;background-color: #efefef;font-weight: normal;margin-top: auto;margin-bottom: 1.6em;min-height: 1.5em;padding: 7px 20px 7px 20px;position: relative;text-align: left;text-shadow: none;margin-right: 0;border-radius: 0;box-shadow: none;}
.rn_ProductCategoryInput button.rn_DisplayButton:last-child{margin-right: 0;}
.rn_ProductCategoryInput button.rn_DisplayButton:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_ProductCategoryInput button.rn_DisplayButton:after{content: "\f0d7";position: absolute;right: 5px;}
.rn_ProductCategoryInput button.rn_DisplayButton:hover, .rn_ProductCategoryInput button.rn_DisplayButton:focus{box-shadow: none;background-color: none;}
.rn_ProductCategoryInput .rn_Panel{width: 100%;background: #FFF;border: 1px solid #999;max-height: 200px;overflow: auto;padding: 6px;}
.rn_ProductCategoryInput .rn_PanelContainer{width: 500px;border: 1px solid #999;}
@media screen and (max-width: 400px){.rn_ProductCategoryInput .rn_PanelContainer{width: 100%;}
}
.rn_ProductCategoryInput .rn_PanelContainer .rn_Panel{border: 0;}
.rn_ProductCategoryInput .rn_SelectionButtons{background: #DDD;border-top: 1px solid #999;}
.rn_ProductCategoryInput .rn_SelectionButtons button{font-size: 0.95em;margin: 7px 0 7px 5px;padding: 5px;}
.rn_ProductCategoryInput .ygtvchildren .ygtvfocus .ygtvlabel{outline-color: #C0E0E0;outline-style: solid;}
.rn_ProductCategoryInput .rn_HintBox{border: 1px solid #999;margin: 0 0 0 0.3em;max-width: 200px;padding: 4px 16px 2px;word-wrap: break-word;opacity: 0.9;}
.rn_ProductCategoryInput .rn_HintBox.rn_AlwaysVisibleHint{max-width: 200px;opacity: 1;}
.rn_ProductCategoryInput .rn_HintBox:before{font-family: 'FontAwesome';margin-right: 6px;}
.rn_ProductCategoryInput .rn_HintBox:before{content: "\f0d9";position: absolute;font-size: 1em;color: #FFF;left: -1px;top: 2px;z-index: 1;}
.rn_ProductCategoryInput .rn_HintBox:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_ProductCategoryInput .rn_HintBox:after{content: "\f0d9";position: absolute;font-size: 1.1em;color: #999;left: -7px;top: 2px;}
.rn_ProductCategoryInput .rn_Disabled{color: #808080 !important;}
.rn_ProductCategoryDisplay .rn_DataLabel{float: left;font-weight: bold;}
.rn_ProductCategoryDisplay .rn_DataValue{margin-left: 180px;}
.rn_ProductCategoryDisplay .rn_DataValue ul{clear: none;}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify{clear: left;margin-left: 0;padding-bottom: 0.5em;}
