.rn_SourceResultListing{min-height: 40px;}
.rn_SourceResultListing li{clear: both;margin: 10px 0;overflow: hidden;padding: 6px 0;}
.rn_SourceResultListing .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_SourceResultListing .rn_AdditionalResults{text-align: right;}
.rn_SourceResultListing .rn_AdditionalResults a:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f054";font-size: smaller;}
.rn_SourceResultListing .rn_Title{font-size: 1.111em;}
.rn_SourcePagination{margin-top: 10px;font-size: 1.3em;}
.rn_SourcePagination ul{*zoom: 1;}
.rn_SourcePagination ul:before, .rn_SourcePagination ul:after{content: " ";display: table;}
.rn_SourcePagination ul:after{clear: both;}
.rn_SourcePagination li{border: 0;display: inline-block;list-style-type: none;padding: 0 0.2em;margin-right: 4px;}
.rn_SourcePagination a{font-weight: normal;text-decoration: none;}
.rn_SourcePagination .rn_PaginationLinks{text-align: right;}
.rn_SourcePagination .rn_CurrentPage{color: #3B6DB1;cursor: default;font-weight: bold;}
.rn_SourcePagination .rn_NextPage, .rn_SourcePagination .rn_PreviousPage{color: #3B6DB1;font-size: 0.8em;cursor: pointer;}
.rn_SourcePagination .rn_NextPage span, .rn_SourcePagination .rn_PreviousPage span{font-size: 1.2em;}
.rn_SourcePagination .rn_NextPage a:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f054";font-size: 0.8em;}
.rn_SourcePagination .rn_PreviousPage a:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f053";font-size: 0.8em;}
.rn_ContactUsWithCall.rn_ContactUs fieldset{background: #FFF;}
.rn_ContactUsWithCall.rn_ContactUs legend{display: block;}
.rn_ContactUsWithCall.rn_ContactUs div:before{color: #505050;}
.rn_ContactUsWithCall.rn_ContactUs .rn_QuestionLink:before{content: url('/euf/assets/themes/standard/images/envelopesmall.png');margin-left: 3px;margin-right: 8px;}
.rn_ContactUsWithCall.rn_ContactUs .rn_CommunityLink:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f086";margin-right: 3px;font-size: 1em;}
.rn_ContactUsWithCall.rn_ContactUs .rn_ChatLink a:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0e5";margin-right: 7px;font-size: 1em;}
.rn_ContactUsWithCall.rn_ContactUs .rn_SiteFeedback:before{content: url('/euf/assets/themes/standard/images/feedback.png');margin-right: 9px;}
.rn_ContactUsWithCall.rn_ContactUs .rn_SiteFeedback, .rn_ContactUsWithCall.rn_ContactUs .rn_ConditionalChatLink, .rn_ContactUsWithCall.rn_ContactUs .rn_Chat{display: inline;}
.rn_ContactUsWithCall.rn_ContactUs .rn_Chat span{display: block;}
.rn_ContactUsWithCall.rn_ContactUs .rn_CallusLink:before{content: url('/euf/assets/themes/standard/images/phonesmall.png');margin-right: 9px;}
.rn_QuestionLink a, .rn_SiteFeedback a, .rn_CallusLink a{color: #4e4e4e !important;font-size: 25px;font-family: "CaeciliaLTStd-Heavy";font-weight: bold;}
.rn_30margintop{margin-top: 30px !important;}
.rn_QuestionDescription, .rn_CallusDescription, .rn_FeedbackDescription{font-size: 18px;}
.rn_ContactUsWithCall.rn_ContactUs .rn_Well h2{border-bottom: 1px solid #c6c6c6;padding: 0 0 0 0;padding-bottom: 20px;margin: 0 0 30px 0;font-size: 25px;font-family: "DepotNew-Bd";color: #4e4e4e;}
.rn_ContactUsWithCall.rn_ContactUs .rn_Well{padding: 20px 30px 60px 30px;background-color: #e5e5e5;}
.rn_ContactUsWithCall.rn_ContactUs .rn_Well h2{border-bottom: 1px solid #c6c6c6;padding: 0 30px 18px 30px;margin: 0 -30px 30px -30px;font-size: 25px;font-family: "DepotNew-Bd";color: #4e4e4e;}
.rn_ResultInfo{overflow:hidden;width:100%;}
.rn_ResultInfo .rn_Suggestion, .rn_ResultInfo .rn_Spell{float:left;}
.rn_ResultInfo .rn_NoResults{clear:both;}
.rn_ResultInfo .rn_NoResults ul{padding-left:2em;}
.rn_ResultInfo .rn_NoResults ul li{list-style:disc;margin:4px;}
.rn_ResultInfo .rn_Results .rn_Strike{font-weight: normal;text-decoration: line-through;}
.rn_ResultInfo{overflow: hidden;padding-bottom: 6px;}
.rn_ResultInfo .rn_Results{float: right;}
.rn_ResultInfo .rn_Results span{font-weight: bold;}
.rn_ResultInfo .rn_Spell{color: #F00;font-size: medium;margin: 10px 0 20px;}
.rn_ResultInfo .rn_Spell a{color: #039;font-style: italic;font-weight: bold;}
.rn_ResultInfo .rn_NoResults{background-color: #F2F2F2;border: 1px solid #A1A5A9;padding: 10px;}
.rn_ResultInfo .rn_Suggestion{color: #222;font-style: italic;padding: 10px 0;}
.rn_ResultInfo .rn_Suggestion a{font-style: normal;}
.rn_Multiline{overflow: hidden;}
.rn_Multiline .rn_Loading{font-size: 2.5em;line-height: 2em;text-align: center;}
.rn_Multiline .rn_Element1, .rn_Multiline .rn_Element1 h3 a{font-size: 25px;font-family: "DepotNew-Bd";}
.rn_Multiline .rn_Element2{font-size: 1.333em;display:none;}
.rn_Multiline .rn_Element3{display: block;font-size: 18px;font-family: "DepotNew-Bd";line-height: 1.3em;color: #4e4e4e;}
.rn_Multiline .rn_ElementsHeader, .rn_Multiline .rn_ElementsData{color: #4e4e4e;font-size: 18px;}
.rn_Multiline .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_Multiline ol, .rn_Multiline ul{padding-top: 0.3em;}
.rn_Multiline ol li, .rn_Multiline ul li{margin-bottom: 1em;}
.rn_Paginator{margin-top: 10px;text-align: right;}
.rn_Paginator ul{*zoom: 1;}
.rn_Paginator ul:before, .rn_Paginator ul:after{content: " ";display: table;}
.rn_Paginator ul:after{clear: both;}
.rn_Paginator li{border: 0;display: inline-block;list-style-type: none;padding: 0 0.2em;margin-right: 4px;}
.rn_Paginator a{font-weight: normal;text-decoration: none;}
.rn_Paginator .rn_CurrentPage{color: #3B6DB1;cursor: default;font-weight: bold;}
.rn_Paginator .rn_NextPage, .rn_Paginator .rn_PreviousPage{color: #3B6DB1;font-size: 0.8em;cursor: pointer;}
.rn_Paginator .rn_NextPage span, .rn_Paginator .rn_PreviousPage span{font-size: 1.2em;}
.rn_Paginator .rn_NextPage:after{font-family: 'FontAwesome';margin-left: 6px;content: "\f054";}
.rn_Paginator .rn_PreviousPage:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f053";}
.rn_SiteFeedbackDialog{width: 375px;}
.rn_SiteFeedbackForm label{clear: left;display: block;}
.rn_SiteFeedbackForm .rn_EmailField{clear: left;display: block;margin-bottom: 1em;width: 340px;}
.rn_SiteFeedbackForm .rn_Textarea{clear: left;display: block;margin-bottom: 1em;width: 340px;}
