#header-bar .sign-on-container {left:-21px;}
.wishlist_landing .find-a-wishlist h2 {letter-spacing:0;font-size:1.1em;} 
.wishlist_landing .find-a-wishlist h2 .cufon{top:-1px;} 
.wishlist_landing .find-a-wishlist .actionbuttons {bottom:1px;}