.rn_ProductCategoryInput button.rn_DisplayButton{display:inline;background:none;color:#000;cursor:pointer;overflow:hidden;text-overflow:ellipsis;}
.rn_ProductCategoryInput .ygtvlabel, .rn_ProductCategoryInput .ygtvlabel:link, .rn_ProductCategoryInput .ygtvlabel:visited, .rn_ProductCategoryInput .ygtvlabel:hover{font-size:inherit;}
.rn_ProductCategoryInput .rn_HintBox{z-index:1;}
.rn_ProductCategoryInput .rn_HintBox.rn_AlwaysVisibleHint{z-index:0;}
.rn_ProductCategoryInput .rn_PanelContainer .yui3-widget-hd{display: none;}
.rn_ProductCategoryInput{*zoom: 1;display: block;position: relative;margin-bottom: 8px;}
.rn_ProductCategoryInput:before, .rn_ProductCategoryInput:after{content: " ";display: table;}
.rn_ProductCategoryInput:after{clear: both;}
.rn_ProductCategoryInput .rn_Label{display: block;font-weight: bold;margin-bottom: 2px;width: 100%;}
.rn_ProductCategoryInput .rn_ErrorLabel{display: block;font-style: italic;font-weight: normal;}
.rn_ProductCategoryInput button.rn_DisplayButton{float: left;display: block;margin-right: 2.35765%;width: 100%;height: 47px;border: 1px solid #efefef;background-color: #efefef;font-weight: normal;margin-top: auto;margin-bottom: 1.6em;min-height: 1.5em;padding: 7px 20px 7px 20px;position: relative;text-align: left;text-shadow: none;margin-right: 0;border-radius: 0;box-shadow: none;}
.rn_ProductCategoryInput button.rn_DisplayButton:last-child{margin-right: 0;}
.rn_ProductCategoryInput button.rn_DisplayButton:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_ProductCategoryInput button.rn_DisplayButton:after{content: "\f0d7";position: absolute;right: 5px;}
.rn_ProductCategoryInput button.rn_DisplayButton:hover, .rn_ProductCategoryInput button.rn_DisplayButton:focus{box-shadow: none;background-color: none;}
.rn_ProductCategoryInput .rn_Panel{width: 100%;background: #FFF;border: 1px solid #999;max-height: 200px;overflow: auto;padding: 6px;}
.rn_ProductCategoryInput .rn_PanelContainer{width: 500px;border: 1px solid #999;}
@media screen and (max-width: 400px){.rn_ProductCategoryInput .rn_PanelContainer{width: 100%;}
}
.rn_ProductCategoryInput .rn_PanelContainer .rn_Panel{border: 0;}
.rn_ProductCategoryInput .rn_SelectionButtons{background: #DDD;border-top: 1px solid #999;}
.rn_ProductCategoryInput .rn_SelectionButtons button{font-size: 0.95em;margin: 7px 0 7px 5px;padding: 5px;}
.rn_ProductCategoryInput .ygtvchildren .ygtvfocus .ygtvlabel{outline-color: #C0E0E0;outline-style: solid;}
.rn_ProductCategoryInput .rn_HintBox{border: 1px solid #999;margin: 0 0 0 0.3em;max-width: 200px;padding: 4px 16px 2px;word-wrap: break-word;opacity: 0.9;}
.rn_ProductCategoryInput .rn_HintBox.rn_AlwaysVisibleHint{max-width: 200px;opacity: 1;}
.rn_ProductCategoryInput .rn_HintBox:before{font-family: 'FontAwesome';margin-right: 6px;}
.rn_ProductCategoryInput .rn_HintBox:before{content: "\f0d9";position: absolute;font-size: 1em;color: #FFF;left: -1px;top: 2px;z-index: 1;}
.rn_ProductCategoryInput .rn_HintBox:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_ProductCategoryInput .rn_HintBox:after{content: "\f0d9";position: absolute;font-size: 1.1em;color: #999;left: -7px;top: 2px;}
.rn_ProductCategoryInput .rn_Disabled{color: #808080 !important;}
.rn_DynamicProductCategoryInput.rn_ProductCategoryInput{}
.rn_DynamicProductCategoryInput.rn_ProductCategoryInput{}
.rn_FileAttachmentUpload{margin-bottom:8px;}
.rn_FileAttachmentUpload img{vertical-align: middle;}
.rn_FileAttachmentUpload label{display: block;font-weight: bold;margin-bottom: 2px;}
.rn_FileAttachmentUpload ul{margin: 10px 20px;}
.rn_FileAttachmentUpload li{list-style-type: disc;margin: 6px 0;}
.rn_FileAttachmentUpload input[type="file"]{width: auto;}
.rn_FileAttachmentUpload{position: relative;float: left;}
.rn_FileAttachmentUpload.rn_Input input{background-color: transparent;border: none;box-shadow: none;}
.rn_FileAttachmentUploadWhite.rn_FileAttachmentUpload{background-color: transparent;overflow: auto;width:100%;}
.rn_FileWrapper{cursor: pointer;display: inline-block;overflow: hidden;position: relative;text-transform: none;width: 100%;float:right;padding-bottom:10px;}
.rn_FileWrapper .rn_FileButton{display:inline-block;text-align: center;width: 139px;height: 40px;object-fit: contain;background-image: linear-gradient(to top, #aaaaaa, #919191), linear-gradient(#8eaa73, #8eaa73);border: solid 1px #919191;border-radius: 5px;float:left;font-family: "DepotNew-Rg";font-size: 18px;font-weight: bold;text-align: center;color: #ffffff;text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);padding-top: 5px;}
.rn_FileWrapper input{cursor: pointer;height: 100%;position: absolute;left: 0;top: 0;filter: alpha(opacity=1);-moz-opacity: 0.01;opacity: 0.01;font-size: 100px;width:100%;}
.rn_FileWrapper .rn_FileMessage{background-color: transparent;border: none;cursor: pointer;font-family: "DepotNew-Rg";font-size: 18px;text-align: left;color: #4e4e4e;height: 40px;line-height: 40px;display:inline-block;width: 60%;float:left;padding-left: 20px;}
.tb_Attachments{margin-bottom: 25px;overflow: auto;zoom: 1;}
.rn_FormSubmit img{vertical-align: middle;}
.rn_FormSubmit button{position: relative;width: 532px;font-size: 24.8px;color: #ffffff;font-family: "DepotNew-Bd";min-height: 55px;}
.rn_FormSubmit{margin: auto;position: relative;width: 532px;min-height: 55px;}
.rn_FormSubmit .rn_Loading{padding-left: 1.8em;}
.rn_FormSubmit .rn_Loading:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f110";-webkit-animation: fa-spin 2s infinite linear;-moz-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;display: block;font-size: 1em;position: relative;text-align: center;left: 0.6em;position: absolute;}
.rn_FormSubmit button.rn_IeFormButton{background: #5b8cd0;cursor: not-allowed;}
.rn_SmartAssistantDialogContainer{float: left;display: block;margin-right: 2.35765%;width: 40.29137%;min-width: 46em;}
.rn_SmartAssistantDialogContainer:last-child{margin-right: 0;}
@media screen and (max-width: 720px){.rn_SmartAssistantDialogContainer{min-width: 0;float: left;display: block;margin-right: 2.35765%;width: 100%;}
.rn_SmartAssistantDialogContainer:last-child{margin-right: 0;}
}
.rn_SmartAssistantDialogContainer a{padding: 10px;white-space: nowrap;}
.rn_SmartAssistantDialogContainer .yui3-widget-ft{text-align: center;}
@media screen and (max-width: 720px){.rn_SmartAssistantDialogContainer .yui3-widget-ft{float: left;display: block;margin-right: 2.35765%;width: 100%;}
.rn_SmartAssistantDialogContainer .yui3-widget-ft:last-child{margin-right: 0;}
.rn_SmartAssistantDialogContainer .yui3-widget-ft .yui3-button{float: left;display: block;margin-right: 2.35765%;width: 100%;margin-left: 0;margin-bottom: 8px;white-space: normal;}
.rn_SmartAssistantDialogContainer .yui3-widget-ft .yui3-button:last-child{margin-right: 0;}
}
.rn_SmartAssistantDialog .rn_Heading{font-size: 1.333em;font-weight: bold;line-height: 1.4em;}
.rn_SmartAssistantDialog .rn_Answer, .rn_SmartAssistantDialog .rn_Response, .rn_SmartAssistantDialog .rn_List{border-radius: 3px;background: #F0F0F0 none repeat scroll 0 0;border: 1px solid #B0B3B8;color: #222;margin: 10px 0;padding: 10px;text-shadow: 0 1px 1px #FFF;}
.rn_SmartAssistantDialog .rn_Answer ul, .rn_SmartAssistantDialog .rn_Answer ol, .rn_SmartAssistantDialog .rn_Response ul, .rn_SmartAssistantDialog .rn_Response ol, .rn_SmartAssistantDialog .rn_List ul, .rn_SmartAssistantDialog .rn_List ol{*zoom: 1;padding-left: 2em;}
.rn_SmartAssistantDialog .rn_Answer ul:before, .rn_SmartAssistantDialog .rn_Answer ul:after, .rn_SmartAssistantDialog .rn_Answer ol:before, .rn_SmartAssistantDialog .rn_Answer ol:after, .rn_SmartAssistantDialog .rn_Response ul:before, .rn_SmartAssistantDialog .rn_Response ul:after, .rn_SmartAssistantDialog .rn_Response ol:before, .rn_SmartAssistantDialog .rn_Response ol:after, .rn_SmartAssistantDialog .rn_List ul:before, .rn_SmartAssistantDialog .rn_List ul:after, .rn_SmartAssistantDialog .rn_List ol:before, .rn_SmartAssistantDialog .rn_List ol:after{content: " ";display: table;}
.rn_SmartAssistantDialog .rn_Answer ul:after, .rn_SmartAssistantDialog .rn_Answer ol:after, .rn_SmartAssistantDialog .rn_Response ul:after, .rn_SmartAssistantDialog .rn_Response ol:after, .rn_SmartAssistantDialog .rn_List ul:after, .rn_SmartAssistantDialog .rn_List ol:after{clear: both;}
.rn_SmartAssistantDialog .rn_Answer ul li, .rn_SmartAssistantDialog .rn_Response ul li, .rn_SmartAssistantDialog .rn_List ul li{list-style: disc;}
.rn_SmartAssistantDialog .rn_Answer ul li li, .rn_SmartAssistantDialog .rn_Response ul li li, .rn_SmartAssistantDialog .rn_List ul li li{list-style: circle;}
.rn_SmartAssistantDialog .rn_Answer ul li li li, .rn_SmartAssistantDialog .rn_Response ul li li li, .rn_SmartAssistantDialog .rn_List ul li li li{list-style: square;}
.rn_SmartAssistantDialog .rn_Answer ol li, .rn_SmartAssistantDialog .rn_Answer li ol li, .rn_SmartAssistantDialog .rn_Answer li li ol li, .rn_SmartAssistantDialog .rn_Response ol li, .rn_SmartAssistantDialog .rn_Response li ol li, .rn_SmartAssistantDialog .rn_Response li li ol li, .rn_SmartAssistantDialog .rn_List ol li, .rn_SmartAssistantDialog .rn_List li ol li, .rn_SmartAssistantDialog .rn_List li li ol li{list-style: decimal;}
.rn_SmartAssistantDialog .rn_Response{max-height: 300px;overflow-y: auto;}
.rn_SmartAssistantDialog a{font-weight: normal;white-space: normal;}
.rn_SmartAssistantDialog .rn_List > li{font-size: 1.3em;margin: 1em 0.8em 1em 0;}
.rn_SmartAssistantDialog .rn_Prompt{font-size: 1em;font-weight: bold;line-height: 1.3em;}
.rn_SmartAssistantDialog .rn_Summary{font-size: 1.3em;font-weight: bold;letter-spacing: -0.01em;line-height: 1em;padding: 7px 0 0;}
.rn_SmartAssistantDialog .rn_Solution{padding: 6px 0 10px;max-height: 300px;overflow-y: auto;}
.rn_SmartAssistantDialog .rn_InlineAnswers{overflow: hidden;}
.rn_SmartAssistantDialog .rn_List.rn_InlineAnswers > li{border-bottom: 1px solid #FFF;list-style: none;margin: 0;padding: 0;position: relative;}
.rn_SmartAssistantDialog .rn_InlineAnswerLink{display: block;border-bottom: 1px solid #CCC;color: #000;padding: 3px 0 3px 0;text-decoration: none;text-shadow: 0 1px 0 #FFF;line-height: 1.5em;}
.rn_SmartAssistantDialog .rn_ExpandAnswer:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0da";}
.rn_SmartAssistantDialog .rn_KBAnswerImage:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0eb";display: inline-block;margin-right: 6px;}
.rn_SmartAssistantDialog .rn_SocialDiscussionImage:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0e6";display: inline-block;margin-right: 1px;font-size: 0.9em;}
.rn_SmartAssistantDialog a.rn_ExpandedAnswer{background-color: rgba(208, 208, 208, 0.8);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(208, 208, 208, 0.8)), color-stop(100%, rgba(254, 254, 254, 0.6)));background-image: -webkit-linear-gradient(rgba(208, 208, 208, 0.8), rgba(254, 254, 254, 0.6));background-image: linear-gradient(rgba(208, 208, 208, 0.8), rgba(254, 254, 254, 0.6));border-bottom: 1px solid #DDD;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);opacity: 0.9;}
.rn_SmartAssistantDialog a.rn_ExpandedAnswer:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f0d7";}
.rn_SmartAssistantDialog .rn_ExpandedAnswerContent{background: #FFF;border: 0;border-radius: 0;display: block;font-size: 0.8em;margin: 0;max-height: 200px;overflow-y: auto;overflow-x: hidden;padding: 2%;}
.rn_SmartAssistantDialog .rn_AnswerDiscussionSummary{display: block;margin-bottom: 12px;padding-top: 19px;}
.rn_SmartAssistantDialog .rn_AnswerDiscussionSummary > ol, .rn_SmartAssistantDialog .rn_AnswerSolution > ol, .rn_SmartAssistantDialog .rn_AnswerDiscussionSummary > ul, .rn_SmartAssistantDialog .rn_AnswerSolution > ul{margin-bottom: 1em;}
.rn_SmartAssistantDialog .rn_DiscussionSolution > ul{margin-bottom: 1em;}
.rn_SmartAssistantDialog .rn_Solution_List{border-radius: 3px;background: #F6F6F6 none repeat scroll 0 0;border: 1px solid #B0B3B8;color: #222;margin: 10px 0;padding: 10px;text-shadow: 0 1px 1px #FFF;overflow: auto;}
.rn_SmartAssistantDialog .rn_BestAnswerImage:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f058";color: #4DB84D;float: right;line-height: 1em;}
.rn_SmartAssistantDialog .rn_UserAvatarLeft{float: left;margin-right: 12px;line-height: 1.5em;}
.rn_SmartAssistantDialog .rn_AvatarImage{width: 48px;height: 48px;}
.rn_SmartAssistantDialog .rn_OpenDiscussionLinkText a{color: #3b6db1;float: right;font-size: 0.8em;line-height: 0.1em;padding-top: 0;padding-bottom: 17px;}
.rn_ProductCategoryDisplay .rn_DataLabel{float: left;font-weight: bold;}
.rn_ProductCategoryDisplay .rn_DataValue{margin-left: 180px;}
.rn_ProductCategoryDisplay .rn_DataValue ul{clear: none;}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify{clear: left;margin-left: 0;padding-bottom: 0.5em;}
.rn_SelectionInput{clear: both;margin-bottom: 1.6em;overflow: visible;position: relative;}
.rn_SelectionInput legend{visibility: visible;}
.rn_SelectionInput fieldset{background: none;border: 0;padding: 0.5em 0;}
.rn_SelectionInput fieldset label{display: inline;margin: 0 4px;vertical-align: sub;}
.rn_SelectionInput input[type="radio"]{border: 0;display: inline;margin-top: 2px;vertical-align: middle;width: auto;}
.rn_SelectionInput .rn_HintBox, .rn_SelectionInput .rn_HintBoxRight{border: 1px solid #DBDBDB;max-width: 200px;padding: 4px 16px 2px;word-wrap: break-word;}
.rn_SelectionInput .rn_HintBox.rn_AlwaysVisibleHint, .rn_SelectionInput .rn_HintBoxRight.rn_AlwaysVisibleHint{max-width: 300px;opacity: 1;z-index: 0;}
.rn_SelectionInput .rn_Label{display: inline-block;font-weight: bold;margin-bottom: 2px;}
.rn_DateInput legend{visibility:visible;}
.rn_DateInput .rn_HintBox{border:1px solid #DBDBDB;max-width:200px;padding:4px 16px 2px;word-wrap:break-word;}
.rn_DateInput .rn_HintBox.rn_AlwaysVisibleHint{max-width:300px;opacity:1;z-index:0;}
.rn_DateInput{clear: both;margin-bottom: 1.6em;overflow: visible;position: relative;}
.rn_DateInput .rn_Label{display: block;font-size: inherit;font-weight: bold;margin-bottom: 2px;}
.rn_DateInput fieldset{background: none;border: 0;padding: 0.5em 0;}
.rn_DateInput select{display: inline;margin-bottom: 0;width: 32%;}
@media screen and (max-width: 400px){.rn_DateInput select{display: block;margin-bottom: 1em;width: 100%;}
}
.rn_PasswordInput{clear: both;margin-bottom: 8px;}
.rn_PasswordInput .rn_Label{display: block;font-weight: bold;margin-bottom: 2px;}
.rn_PasswordInput .rn_PasswordLength{color: #646464;display: block;font-weight: normal;margin-top: 4px;width: 60%;}
.rn_PasswordInput .rn_Password{width: 60%;}
.rn_PasswordInput .rn_PasswordInputCurrent{margin-bottom: 10px;}
.rn_PasswordInput .rn_PasswordInputValidate{margin-top: 10px;}
.rn_PasswordInput .yui3-overlay{margin-left: 50px;background-color: #ccc;background: linear, top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46);border-radius: 6px;border: 2px solid #fff;box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);padding: 1em;max-width: 260px;}
.rn_PasswordInput .rn_Intro{font-weight: bold;font-size: 1.3em;text-shadow: 0 1px 0 #fff;}
.rn_PasswordInput .rn_Heading{margin-bottom: 10px;}
.rn_PasswordInput .rn_Meter{border: 1px solid #999;height: 12px;padding: 0;width: 100px;float: left;position: relative;margin-right: 8px;}
.rn_PasswordInput .rn_Meter div{border-top: 1px solid #FFF;height: 11px;}
.rn_HighContrastMode .rn_PasswordInput .rn_Meter div{border-top: 12px solid #FFF;height: 0;}
.rn_PasswordInput .rn_Strength{margin: 4px 0;overflow: hidden;}
.rn_PasswordInput .rn_Meter .rn_NoValidations{background: #F00;width: 25%;}
.rn_PasswordInput .rn_Meter .rn_SomeValidations{background: #FF0;width: 75%;}
.rn_PasswordInput .rn_Meter .rn_AllValidations{background: #008000;}
.rn_PasswordInput ul{padding-left: 13px;}
.rn_PasswordInput li{list-style-type: circle;padding-bottom: 3px;}
.rn_PasswordInput .rn_Fail{color: #B10101;list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAA6ElEQVR42pWRwUrDQBRFb/VH8gNV23/p/3RXaHCh4KIWoboo6q5dlboQFTEZKSRfNJ4LQ2jHbho4zJ133kwyE8UYT6ILI+k8l7nrFkykopTKa2mQN7tm5x7PNZbObqUpxBspMF5aGGcIdu5xryzupKsZ4h4BNblv5mSIdu45OMMDuy0Qj5SepCbhHOz+HdrQfPEstS+UXw15Sc3u6IIVEto1ZeMMxxdseO1WChDJjXGGsMk/6Z0DfSA+mTLWbxzYOKda+Kanu9ZKmtYICF97uzm7FnDV/rX+SMVOKn/Tj+PpmeSGdu7x/A+N9hV+nr/dEgAAAABJRU5ErkJggg==');}
.rn_PasswordInput .rn_Pass{color: #015301;list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABQUlEQVQoz2P4//8/AymYgeoaVHIZ2EOrZaQZGhiYCGpg0GZgK5tnmdO8zv1QwWyTEAYGBiacio2NGVjzphlmdGz0ezn1YPT/xlWuN6Ma5R3Bkv7VQrKJPUqRoQ2iEmCTgYrTJ2hm1a1wft252f9/6waf/6XzrI9FNEiaMHgX8itlTtZZXDrf4lPmZK2ZHhkCCkmdShmlcy1e1S53/F+12P5/7jSjQ6ENEmZgw8JrJYuyJ+l+KZpt+j93qv6P5C7lI5mTdF4WzjT5nzfN6H9Kt/qRgAoRY7i/fMsF5aIaZeckdaj8TO1R+58Cxqr/k7tU/sc0yx32LeYzxQhWtwwGsYAK4akRNeK/Ihsl/0fUS/wPrhQ95FfEZYgzHmwTGUR9C3lm+pfyf/Mp4jnklsdqTDDiXJMYpDyy2Us9slhNcQU3AOCKTBgpozkYAAAAAElFTkSuQmCC');}
.rn_TextInput .rn_HintBox{border:1px solid #DBDBDB;max-width:200px;padding:4px 16px 2px;word-wrap:break-word;}
.rn_TextInput .rn_HintBox.rn_AlwaysVisibleHint{max-width:300px;opacity:1;z-index:0;}
.rn_TextInput{clear: both;margin-bottom: 1.6em;overflow: visible;position: relative;}
.rn_TextInput textarea{margin: 0;}
.rn_TextInput .rn_Label{display: inline-block;font-weight: bold;margin-bottom: 2px;}
.rn_TextInput .rn_Mask{color: #555;font-style: italic;margin: 4px 12px;}
.rn_TextInput .rn_MaskBuffer{margin-top: 1.1em;}
.rn_TextInput .rn_MaskOverlay{background-color: #EEE;border: 1px solid #CCC;border-radius: 0px;border-top-right-radius: 0;border-top-left-radius: 0;box-shadow: 2px 2px 2px #888;color: #222;opacity: 0.9;padding: 11px;}
.rn_TextInput .rn_TextInputValidate{margin-top: 8px;}
.rn_DisplayNameInput .rn_DisplayNameLabel{font-weight: bold;}
.rn_DisplayNameInput .rn_DisplayNameField{padding: 4px 0;}
.rn_FieldDisplay .rn_DataLabel{float: left;font-weight: bold;}
.rn_FieldDisplay .rn_DataValue{margin-left: 180px;word-wrap: break-word;}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify{clear: left;margin-left: 0;padding-bottom: 0.5em;}
