.rn_SourceSearchField label{height: 1px;left: -10000px;overflow: hidden;position: absolute;top: auto;width: 1px;}
.rn_SourceSearchButton{display: inline;bottom: 0;}
.rn_SourceSearchButton input{border: 0;vertical-align: top;}
.rn_MobileSourceProductCategorySearchFilter form{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
.rn_MobileSourceProductCategorySearchFilter.rn_Input input{display: none;}
.rn_MobileSourceProductCategorySearchFilter .rn_Input label{cursor: pointer;}
.rn_MobileSourceProductCategorySearchFilter .rn_Input label .rn_ParentMenuAlt{opacity: 0;position: absolute;left: 0;}
.rn_MobileSourceProductCategorySearchFilter{padding-top: 4px;@-webkit-keyframes blink{from{text-shadow: 0 -1px 3px rgba(255, 255, 255, 0.7);}
to{text-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);}
}
}
.rn_MobileSourceProductCategorySearchFilter.rn_HideEmpty{visibility: hidden;}
.rn_MobileSourceProductCategorySearchFilter .rn_FilterDisplay{overflow: visible;border-top: 1px solid #DDD;}
.rn_MobileSourceProductCategorySearchFilter .rn_LinkOpener{color: #FFF;display: inline-block;font-weight: bold;padding: 8px 0;}
.rn_MobileSourceProductCategorySearchFilter .rn_LinkOpener:after{font-family: 'FontAwesome';line-height: 1em;margin-left: 6px;content: "\f101";}
.rn_MobileSourceProductCategorySearchFilter .rn_Opener{-webkit-animation-name: blink;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 4;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-in-out;}
.rn_MobileSourceProductCategorySearchFilter .rn_Heading .rn_Remove{color: #FFF;font-weight: normal;text-shadow: none;float: right;margin-top: 8px;}
.rn_MobileSourceProductCategorySearchFilter .rn_Heading .rn_Remove:before{font-family: 'FontAwesome';line-height: 1em;margin-right: 6px;content: "\f00d";}
.rn_MobileSourceProductCategorySearchFilter .rn_Filters{*zoom: 1;}
.rn_MobileSourceProductCategorySearchFilter .rn_Filters:before, .rn_MobileSourceProductCategorySearchFilter .rn_Filters:after{content: " ";display: table;}
.rn_MobileSourceProductCategorySearchFilter .rn_Filters:after{clear: both;}
.rn_MobileSourceProductCategorySearchFilter .rn_FilterItem{border-width: 0 12px 0 4px;color: #FFF;float: left;font-weight: normal;height: 33px;max-width: 200px;overflow: hidden;padding: 8px 12px 2px 4px;text-decoration: none;text-overflow: ellipsis;white-space: nowrap;}
.rn_MobileSourceProductCategorySearchFilter .rn_FilterItem.rn_Selected{color: #FFF;font-weight: bold;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);}
.rn_MobileSourceProductCategorySearchFilter.rn_Input, .rn_MobileSourceProductCategorySearchFilter.rn_PanelContent{margin: 0;padding: 0;width: auto;}
.rn_MobileSourceProductCategorySearchFilter.rn_Input .rn_Selected{background-color: rgba(56, 121, 217, 0.6);}
.rn_MobileSourceProductCategorySearchFilter.rn_Input .rn_Parent, .rn_MobileSourceProductCategorySearchFilter.rn_Input .rn_SubItem{border-bottom: 1px solid #DDD;}
.rn_MobileSourceProductCategorySearchFilter.rn_Input label{color: #333;display: block;font-size: 1.5em;font-weight: bold;line-height: 1.2em;padding: 20px 16px;width: auto;}
.rn_MobileSourceProductCategorySearchFilter.rn_Input label.rn_HasChildren:after{font-family: 'FontAwesome';line-height: 1em;margin-left: 6px;content: "\f105";}
.rn_MobileSourceProductCategorySearchFilter .rn_LoadingIcon:before{font-family: 'FontAwesome';line-height: 1em;margin-right: 6px;content: "\f110";-webkit-animation: fa-spin 2s infinite linear;-moz-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;display: block;font-size: 1em;position: relative;text-align: center;right: 10px;position: absolute;color: #333;}
.rn_SourceResultListing li{clear: both;margin: 10px 0;overflow: hidden;padding: 6px 0;font-size: 1.1em;line-height: 1.3em;}
.rn_SourceResultListing .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_SourceResultListing .rn_AdditionalResults{text-align: right;}
.rn_SourceResultListing .rn_AdditionalResults a:after{font-family: 'FontAwesome';line-height: 1em;margin-left: 6px;content: "\f054";font-size: smaller;}
.rn_SourcePagination{margin-top: 10px;font-size: 1.5em;}
.rn_SourcePagination ul{*zoom: 1;}
.rn_SourcePagination ul:before, .rn_SourcePagination ul:after{content: " ";display: table;}
.rn_SourcePagination ul:after{clear: both;}
.rn_SourcePagination li{border: 0;display: inline-block;list-style-type: none;padding: 0 0.2em;margin-right: 4px;}
.rn_SourcePagination li:hover, .rn_SourcePagination li:focus{background: #EBEFF5;}
.rn_SourcePagination a{font-weight: normal;text-decoration: none;}
.rn_SourcePagination .rn_PaginationLinks{text-align: right;}
.rn_SourcePagination .rn_CurrentPage{color: #3B6DB1;cursor: default;font-weight: bold;}
.rn_SourcePagination .rn_CurrentPage:hover, .rn_SourcePagination .rn_CurrentPage:focus{background: none;}
.rn_SourcePagination .rn_NextPage, .rn_SourcePagination .rn_PreviousPage{color: #3B6DB1;font-size: 0.8em;}
.rn_SourcePagination .rn_NextPage span, .rn_SourcePagination .rn_PreviousPage span{font-size: 1.2em;}
.rn_SourcePagination .rn_NextPage a:after{font-family: 'FontAwesome';line-height: 1em;margin-left: 6px;content: "\f054";font-size: 0.8em;}
.rn_SourcePagination .rn_PreviousPage a:before{font-family: 'FontAwesome';line-height: 1em;margin-right: 6px;content: "\f053";font-size: 0.8em;}
.rn_KeywordText label{height: 1px;left: -10000px;overflow: hidden;position: absolute;top: auto;width: 1px;}
.rn_KeywordText input::-webkit-input-placeholder{color: #737373;}
.rn_KeywordText input::-moz-placeholder{color: #737373;opacity: 1;}
.rn_KeywordText input:-ms-input-placeholder{color: #737373;}
.rn_SearchButton{display:inline;bottom: 0px;}
.rn_SearchButton input{border:none;vertical-align:top;}
.rn_SearchButton .rn_SubmitButton{background-color:#0E53A7;color:#FFF;cursor:pointer;font-weight:bold;}
.rn_MobileProductCategorySearchFilter form{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
.rn_MobileProductCategorySearchFilter.rn_Input input{display:none;}
.rn_MobileProductCategorySearchFilter .rn_Input label{cursor:pointer;}
.rn_MobileProductCategorySearchFilter .rn_Input label .rn_ParentMenuAlt{opacity:0;position:absolute;left:0;}
.rn_MobileProductCategorySearchFilter{padding-top: 4px;@-webkit-keyframes blink{from{text-shadow: 0 -1px 3px rgba(255, 255, 255, 0.7);}
to{text-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);}
}
}
.rn_MobileProductCategorySearchFilter.rn_HideEmpty{visibility: hidden;}
.rn_MobileProductCategorySearchFilter .rn_FilterDisplay{overflow: hidden;border-top: 1px solid #DDD;}
.rn_MobileProductCategorySearchFilter .rn_LinkOpener{color: #FFF;display: inline-block;font-weight: bold;padding: 8px 0;}
.rn_MobileProductCategorySearchFilter .rn_LinkOpener:after{font-family: 'FontAwesome';line-height: 1em;margin-left: 6px;content: "\f101";}
.rn_MobileProductCategorySearchFilter .rn_Opener{-webkit-animation-name: blink;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 4;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-in-out;}
.rn_MobileProductCategorySearchFilter .rn_Heading .rn_Remove{color: #FFF;font-weight: normal;text-shadow: none;float: right;margin-top: 8px;}
.rn_MobileProductCategorySearchFilter .rn_Heading .rn_Remove:before{font-family: 'FontAwesome';line-height: 1em;margin-right: 6px;content: "\f00d";}
.rn_MobileProductCategorySearchFilter .rn_FilterItem{border-width: 0 12px 0 4px;color: #FFF;float: left;font-weight: bold;height: 33px;max-width: 200px;overflow: hidden;padding: 8px 12px 2px 4px;text-decoration: none;text-overflow: ellipsis;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);white-space: nowrap;}
.rn_MobileProductCategorySearchFilter .rn_FilterItem.rn_Selected{color: #FFF;font-weight: normal;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);}
.rn_MobileProductCategorySearchFilter.rn_Input, .rn_MobileProductCategorySearchFilter.rn_PanelContent{margin: 0;padding: 0;width: auto;}
.rn_MobileProductCategorySearchFilter.rn_Input .rn_Selected{background-color: rgba(56, 121, 217, 0.6);}
.rn_MobileProductCategorySearchFilter.rn_Input .rn_Parent, .rn_MobileProductCategorySearchFilter.rn_Input .rn_SubItem{border-bottom: 1px solid #DDD;}
.rn_MobileProductCategorySearchFilter.rn_Input label{color: #333;display: block;font-size: 1.5em;font-weight: bold;line-height: 1.2em;padding: 20px 16px;width: auto;}
.rn_MobileProductCategorySearchFilter.rn_Input label.rn_HasChildren:after{font-family: 'FontAwesome';line-height: 1em;margin-left: 6px;content: "\f105";}
.rn_MobileProductCategorySearchFilter .rn_LoadingIcon:before{font-family: 'FontAwesome';line-height: 1em;margin-right: 6px;content: "\f110";-webkit-animation: fa-spin 2s infinite linear;-moz-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;display: block;font-size: 1em;position: relative;text-align: center;right: 10px;position: absolute;color: #333;}
.rn_ResultInfo{overflow:hidden;width:100%;}
.rn_ResultInfo .rn_Suggestion, .rn_ResultInfo .rn_Spell{float:left;}
.rn_ResultInfo .rn_NoResults{clear:both;}
.rn_ResultInfo .rn_NoResults ul{padding-left:2em;}
.rn_ResultInfo .rn_NoResults ul li{list-style:disc;margin:4px;}
.rn_ResultInfo .rn_Results .rn_Strike{font-weight: normal;text-decoration: line-through;}
.rn_ResultInfo .rn_Spell{color: #F00;font-size: medium;margin: 10px 0 20px;}
.rn_ResultInfo .rn_Spell a{color: #039;font-style: italic;font-weight: bold;}
.rn_ResultInfo .rn_NoResults{background-color: #F2F2F2;border: 1px solid #A1A5A9;padding: 10px;}
.rn_ResultInfo .rn_Suggestion{color: #222;font-style: italic;padding: 10px 0;}
.rn_ResultInfo .rn_Suggestion a{font-style: normal;}
.rn_ResultInfo .rn_Results span{font-weight: bold;}
.rn_MobileMultiline{overflow: hidden;}
.rn_MobileMultiline .rn_Loading:before{font-family: 'FontAwesome';line-height: 1em;margin-right: 6px;content: "\f110";-webkit-animation: fa-spin 2s infinite linear;-moz-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;display: block;font-size: 1em;position: relative;text-align: center;}
.rn_MobileMultiline .rn_Element1, .rn_MobileMultiline .rn_Element1 a, .rn_MobileMultiline .rn_Element2, .rn_MobileMultiline .rn_Element3{display: block;}
.rn_MobileMultiline .rn_Element1{font-size: 1.333em;line-height: 1.4em;margin-bottom: 0.3em;}
.rn_MobileMultiline .rn_Element1 .rn_FileTypeIcon{float: right;position: relative;top: 10px;}
.rn_MobileMultiline .rn_Element2, .rn_MobileMultiline .rn_Element3{font-size: 1.1em;line-height: 1.3em;}
.rn_MobileMultiline .rn_ElementsHeader, .rn_MobileMultiline .rn_ElementsData{display: none;}
.rn_MobileMultiline .rn_Highlight{font-style: normal;font-weight: bold;}
.rn_MobileMultiline ol, .rn_MobileMultiline ul{padding-top: 3px;}
.rn_MobileMultiline ol li, .rn_MobileMultiline ul li{margin-bottom: 20px;}
.rn_Paginator{margin-top: 10px;text-align: right;}
.rn_Paginator ul{*zoom: 1;}
.rn_Paginator ul:before, .rn_Paginator ul:after{content: " ";display: table;}
.rn_Paginator ul:after{clear: both;}
.rn_Paginator li{border: 0;display: inline-block;list-style-type: none;padding: 0 0.2em;margin-right: 4px;}
.rn_Paginator a{font-weight: normal;text-decoration: none;}
.rn_Paginator .rn_CurrentPage{color: #3B6DB1;cursor: default;font-weight: bold;}
.rn_Paginator .rn_NextPage, .rn_Paginator .rn_PreviousPage{color: #3B6DB1;font-size: 0.8em;cursor: pointer;}
.rn_Paginator .rn_NextPage span, .rn_Paginator .rn_PreviousPage span{font-size: 1.2em;}
.rn_Paginator .rn_NextPage:after{font-family: 'FontAwesome';line-height: 1em;margin-left: 6px;content: "\f054";}
.rn_Paginator .rn_PreviousPage:before{font-family: 'FontAwesome';line-height: 1em;margin-right: 6px;content: "\f053";}
